
.tag-rg-icon-granary:before { content: '\e800'; } /* '' */
.tag-rg-icon-moulin_a_vent:before { content: '\e801'; } /* '' */
.tag-rg-icon-warehouse:before { content: '\e802'; } /* '' */
.tag-rg-icon-barracks:before { content: '\e803'; } /* '' */
.tag-rg-icon-watchtower:before { content: '\e804'; } /* '' */
.tag-rg-icon-armory:before { content: '\e805'; } /* '' */
.tag-rg-icon-shipyard:before { content: '\e807'; } /* '' */
.tag-rg-icon-dockyard:before { content: '\e808'; } /* '' */
.tag-rg-icon-forge:before { content: '\e809'; } /* '' */
.tag-rg-icon-textile_mill:before { content: '\e80a'; } /* '' */
.tag-rg-icon-lumber_mill:before { content: '\e80b'; } /* '' */
.tag-rg-icon-lumber_mill2:before { content: '\e80c'; } /* '' */
.tag-rg-icon-clothing-workshop:before { content: '\e80d'; } /* '' */
.tag-rg-icon-brewery:before { content: '\e80e'; } /* '' */
.tag-rg-icon-coffee_workshop:before { content: '\e80f'; } /* '' */
.tag-rg-icon-cacao_workshop:before { content: '\e810'; } /* '' */
.tag-rg-icon-tobacco_workshop:before { content: '\e811'; } /* '' */
.tag-rg-icon-jewel_workshop:before { content: '\e812'; } /* '' */
.tag-rg-icon-theater:before { content: '\e813'; } /* '' */
.tag-rg-icon-perfume_workshop:before { content: '\e814'; } /* '' */
