@font-face {
  font-family: 'tag-rg-icon-font';
  src: url('../font/tag-rg-icon-font.eot?64822002');
  src: url('../font/tag-rg-icon-font.eot?64822002#iefix') format('embedded-opentype'),
       url('../font/tag-rg-icon-font.woff2?64822002') format('woff2'),
       url('../font/tag-rg-icon-font.woff?64822002') format('woff'),
       url('../font/tag-rg-icon-font.ttf?64822002') format('truetype'),
       url('../font/tag-rg-icon-font.svg?64822002#tag-rg-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tag-rg-icon-font';
    src: url('../font/tag-rg-icon-font.svg?64822002#tag-rg-icon-font') format('svg');
  }
}
*/
[class^="tag-rg-icon-"]:before, [class*=" tag-rg-icon-"]:before {
  font-family: "tag-rg-icon-font";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.tag-rg-icon-granary:before { content: '\e800'; } /* '' */
.tag-rg-icon-moulin_a_vent:before { content: '\e801'; } /* '' */
.tag-rg-icon-warehouse:before { content: '\e802'; } /* '' */
.tag-rg-icon-barracks:before { content: '\e803'; } /* '' */
.tag-rg-icon-watchtower:before { content: '\e804'; } /* '' */
.tag-rg-icon-armory:before { content: '\e805'; } /* '' */
.tag-rg-icon-shipyard:before { content: '\e807'; } /* '' */
.tag-rg-icon-dockyard:before { content: '\e808'; } /* '' */
.tag-rg-icon-forge:before { content: '\e809'; } /* '' */
.tag-rg-icon-textile_mill:before { content: '\e80a'; } /* '' */
.tag-rg-icon-lumber_mill:before { content: '\e80b'; } /* '' */
.tag-rg-icon-lumber_mill2:before { content: '\e80c'; } /* '' */
.tag-rg-icon-clothing-workshop:before { content: '\e80d'; } /* '' */
.tag-rg-icon-brewery:before { content: '\e80e'; } /* '' */
.tag-rg-icon-coffee_workshop:before { content: '\e80f'; } /* '' */
.tag-rg-icon-cacao_workshop:before { content: '\e810'; } /* '' */
.tag-rg-icon-tobacco_workshop:before { content: '\e811'; } /* '' */
.tag-rg-icon-jewel_workshop:before { content: '\e812'; } /* '' */
.tag-rg-icon-theater:before { content: '\e813'; } /* '' */
.tag-rg-icon-perfume_workshop:before { content: '\e814'; } /* '' */
